body{
background-color: #EDF6E5;
}

h1{
color: #99A799;
}

ul{
color: #E2C2B9;
}

hr{
/* background-color:white; */
border-style: none;
border-top-style: dotted;
border-color: black;
border-width: 1px;
width: 100%
}
