body{
  background-color: #FFFDDE;
}

h1{
  color: #D9D7F1;
}

h2{
  color: #FFCBCB;
}

h3{
  color: #ADC2A9;
}

h4{
  color: #7C99AC;
}

hr{
  background-color: #fff;
	border-top: 5px dashed #8c8b8b;
}
